<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="/">
            <% if (typeof siteLogo !== 'undefined' && siteLogo && siteLogo._id) { %>
                <img src="/admin/media/image/<%= siteLogo._id %>/small" alt="<%= typeof companySettings !== 'undefined' && companySettings && companySettings.name ? companySettings.name : 'PPSG' %>" style="max-height: 40px; margin-right: 10px;">
            <% } else { %>
                <i class="bi bi-droplet-fill me-2"></i>
            <% } %>
            <span><%= typeof companySettings !== 'undefined' && companySettings && companySettings.name ? companySettings.name : 'PPSG' %></span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/projects">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/products">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
                <% if (typeof currentUser !== 'undefined' && currentUser) { %>
                <li class="nav-item">
                    <a class="nav-link" href="/admin">
                        <i class="bi bi-shield-lock"></i> Admin
                    </a>
                </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>

