<div class="container py-5">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h1 class="mb-4">About Us</h1>
            <p class="lead">Welcome to PPSG</p>
            <p>We are committed to providing exceptional service and quality products to our customers. Our team is dedicated to meeting your needs and exceeding your expectations.</p>
            <p>With years of experience in the industry, we have built a reputation for excellence and reliability. We take pride in our work and strive to deliver the best possible results for every project.</p>
            <a href="/contact" class="btn btn-primary mt-3">Get in Touch</a>
        </div>
    </div>
</div>

